@import 'reset.css';
@import './theme.scss';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  #page {
    flex: 1;
  }
}

// 转换成vw的方案设置媒体查询超出宽度范围后固定body宽度，内容居中时，会出现样式过大影响查看的问题。
@media screen and (min-width: 1024px) {
  html {
    max-width: 1024px;
    margin: auto;
  }
}
